
html { 

	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	overflow:hidden;
	background-color: #FFEFD5;
		}	
#container{
	width:72%;
	height:auto;
	margin: 0 auto;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	align-items:center;
	justify-content:center;
	}
#upper_bar{
	width:100%;
	height:7%;
	background-color: black;
		-moz-box-shadow: 0px 0px 30px #ffffff; 
	-webkit-box-shadow: 0px 0px 30px #ffffff; 
	box-shadow: 0px 0px 30px #ffffff;
	/*estilos para redondear bordes*/
	border:groove 2px #332f33;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	order:1;
	}
#menu_bar{
		width:100%;
		height:5%;
		background-color:grey;
		/*estilos para redondear bordes*/
	border:groove 2px #332f33;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	order:2;
	}
	
#middle_left{
	width:49.7%;
	height:40%;
	background-color: red;
	float: left;
	overflow:hidden;
	background: url(../img/deporte.jpg);
	background-size: cover;
	/*estilos para redondear bordes*/
	border:groove 2px #332f33;
	-webkit-border-radius: 9px 0px 0px 9px;
	border-radius: 9px 0px 0px 9px; 
	order:3;
	
	}
#middle_right{
	width:49.7%;
	height:40%;
	background-color: orange;
	float:right;
	overflow:hidden;
	background: url(../img/vietnam.jpg); 
	background-size: cover;
	/*estilos para redondear bordes*/
	border:groove 2px #332f33;
	-webkit-border-radius: 0px 9px 9px 0px;
	border-radius: 0px 9px 9px 0px; 
	order:3;
	
	}
#bottom_left{
	width:49.7%;
	height:40%;
	background-color: green;
	float: left;
	overflow:hidden;
	background: url(../img/fabrica.jpg); 
	background-size: cover;
	/*estilos para redondear bordes*/
	border:groove 2px #332f33;
	-webkit-border-radius: 9px 0px 0px 9px;
	 border-radius: 9px 0px 0px 9px; 
	order:3;
	
	}
#bottom_right{
	width:49.7%;
	height:40%;
	float:right;
	background-color: black;
	overflow:hidden;
	background: url(../img/Android.jpg); 
	background-size: cover;
	/*estilos para redondear bordes*/
	border:groove 2px #332f33;
	-webkit-border-radius: 0px 9px 9px 0px;
	border-radius: 0px 9px 9px 0px; 
	order:3;
	
	
	}
#footer{
	width:100%;
	height:4%;
	background-color: grey;
	float:left;
	overflow:hidden;
	
	/*estilos para redondear bordes*/
	border:groove 2px #332f33;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	order:4;
}

img {
	max-width: 100%;
	max-height: 100%;
}
a>img{
width:4%;
height:80%;

}
#upper_bar >img 
{
max-width:100%;
height:100%;
}
#social_networks>img{
width:4%;
height:80%;
}
#social_networks{
width:86%;
height:130%;
float:left;
}

ul.menu,
ul.menu ul,
ul.menu li,
ul.menu a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
form{
font-family:inherit;
}
ul.menu {
    height: 53px;
    width: 100%;
 
    background: #4c4e5a;
    background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
 
ul.menu li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    height: 40px;
}
ul.menu li a {
    display: block;
    padding: 0 14px;
    margin: 6px 0;
    line-height: 36px;
    text-decoration: none;
 
    border-left: 1px solid #393942;
    border-right: 1px solid #4f5058;
 
    font-family: Helvetica, Arial, sans-serif;
	/*font-family: 'afta_serifregular';*/
    font-weight: normal;
    font-size: 17px;
 
    color: #f3f3f3;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
 
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
 
ul.menu li:first-child a { border-left: none; }
ul.menu li:last-child a{ border-right: none; }
 
ul.menu li:hover > a { color: #caad16; }
ul.menu ul {
    position: absolute;
    top: 50px;
    left: 0;
 
    opacity: 0;
    background: rgba(0,0,0,0.67);
 
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
 
    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}
 
ul.menu li:hover > ul { opacity: 1; }
 
ul.menu ul li {
    height: 0;
    overflow: hidden;
    padding: 0;
 
    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}
 
ul.menu li:hover > ul li {
    height: 36px;
    overflow: visible;
    padding: 0;
}
ul.menu ul li a {
    width: 130px;
    padding: 0 10px;
    margin: 0;
    font-size: 14px;
 
    border: none;
    border-bottom: 1px solid #353539;
}
 
ul.menu ul li:last-child a { border: none; }

@font-face {
    font-family: 'afta_serifregular';
    src: url('../fuentes/aftaserifthin-regular.eot');
    src: url('../fuentes/aftaserifthin-regular.eot?#iefix') format('embedded-opentype'),
         url('../fuentes/aftaserifthin-regular.woff') format('woff'),
         url('../fuentes/aftaserifthin-regular.ttf') format('truetype'),
         url('../fuentes/aftaserifthin-regular.svg#afta_serifregular') format('svg');
    font-weight: bold;
    font-style: normal;

}



@media(min-width: 790px) and (max-width: 1910px){
	html { 

		}	

	#container{		
		background-color: black;	
		overflow:hidden;
		width:90%;
		height:auto;
		margin: 0 auto;
	-webkit-border-radius: 9px 0px 0px 9px;
	border-radius: 9px 9px 9px 9px; 
	}
	#upper_bar{
		
		width:99.8%;
		height:7%;
		background-color: black;	
		/*estilos para redondear bordes*/
		border:groove 1px #332f33;
	}
	#menu_bar {
	width:99.8%;
	height:6%;	
	}
	#middle_left{
	width:49.4%;
	height:39.1%;	
	overflow:hidden;
	background: url(../img/deporte.jpg);
	background-size: cover;
	/*estilos para redondear bordes*/
	border:groove 2px #332f33;
	-webkit-border-radius: 9px 0px 0px 9px;
	border-radius: 9px 0px 0px 9px; 
	}

	#middle_right{
		width:49.4%;
		height:39.1%;
		overflow:hidden;
		background: url(../img/vietnam.jpg); 
		background-size: cover;
		/*estilos para redondear bordes*/
		border:groove 2px #332f33;
		-webkit-border-radius: 9px 0px 0px 9px;
		border-radius: 0px 9px 9px 0px; 
		
		
		}
	#bottom_left{
		width:49.4%;
		height:39.1%;
		overflow:hidden;
		background: url(../img/fabrica.jpg); 
		background-size: cover;
		/*estilos para redondear bordes*/
		border:groove 2px #332f33;
		-webkit-border-radius: 9px 0px 0px 9px;
		border-radius: 9px 0px 0px 9px; 
		
		
		}
	#bottom_right{
		width:49.4%;
		height:39.1%;
		overflow:hidden;
		background: url(../img/Android.jpg); 
		background-size: cover;
		/*estilos para redondear bordes*/
		border:groove 2px #332f33;
		-webkit-border-radius: 9px 0px 0px 9px;
		border-radius:0px 9px 9px 0px;  
		}

	#footer{
		width:99.8%;
		height:6%;
	
		background-color: grey;
		float:left;
		overflow:hidden;
		
		/*estilos para redondear bordes*/
		border:groove 2px #332f33;
		-moz-border-radius: 9px;
		-webkit-border-radius: 9px;
		border-radius: 9px;
		
	}

	img {
		max-width: 100%;
		max-height: 100%;
	}
	a>img{
	width:4%;
	height:80%;

	}
	#upper_bar >img 
	{
	max-width:100%;
	height:100%;
	}

	#social_networks{
	width:100%;
	height:120%;
	float:left;
	}
	
ul.menu li a {
    font-size: 12px;
}
	
}


@media(max-width: 790px) {
	html { 
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	 overflow:hidden;	
	 background:none;
	 background-color: black;

		}	

	#container{	
		overflow:hidden;
		width:100%;
		height: auto;
		margin: 0 auto;
		background-color: black;	
	}
	#upper_bar{
		width:100%;
		height:5%;
		background-color: black;	
		/*estilos para redondear bordes*/
		border:groove 1px #332f33;
	}
	#menu_bar {
		display: none;
	}
	#middle_left{
	width:99%;
	height:22%;
	background-color: red;
	overflow:hidden;
	background: url(../img/deporte.jpg);
	background-size: cover;
	/*estilos para redondear bordes*/
	border:groove 2px #332f33;
	-webkit-border-radius: 9px 0px 0px 9px;
	border-radius: 9px 9px 9px 9px; 
	}

	#middle_right{
		width:99%;
		height:22%;
		background-color: orange;
		overflow:hidden;
		background: url(../img/vietnam.jpg); 
		background-size: cover;
		/*estilos para redondear bordes*/
		border:groove 2px #332f33;
		-webkit-border-radius: 9px 0px 0px 9px;
		border-radius: 9px 9px 9px 9px; 
		
		
		}
	#bottom_left{
		width:99%;
		height:22%;
		background-color: green;
		overflow:hidden;
		background: url(../img/fabrica.jpg); 
		background-size: cover;
		/*estilos para redondear bordes*/
		border:groove 2px #332f33;
		-webkit-border-radius: 9px 0px 0px 9px;
		border-radius: 9px 9px 9px 9px; 
		
		
		}
	#bottom_right{
		width:99%;
		height:22%;
		background-color: green;
		overflow:hidden;
		background: url(../img/Android.jpg); 
		background-size: cover;
		/*estilos para redondear bordes*/
		border:groove 2px #332f33;
		-webkit-border-radius: 9px 0px 0px 9px;
		border-radius: 9px 9px 9px 9px; 
		}

	#footer{
		width:99.5%;
		height:4%;
		background-color: grey;
		float:left;
		overflow:hidden;
		
		/*estilos para redondear bordes*/
		border:groove 2px #332f33;
		-moz-border-radius: 9px;
		-webkit-border-radius: 9px;
		border-radius: 9px;
		
	}

	img {
		max-width: 100%;
		max-height: 100%;
	}
	a>img{
	width:4%;
	height:80%;

	}
	#upper_bar >img 
	{
	max-width:100%;
	height:100%;
	}
	#social_networks>img{
	width:4%;
	height:80%;
	}
	#social_networks{
	width:210%;
	height:110%;
	float:left;
	}
	
}
