	html { 
	 background: url(../img/microfono.jpg) no-repeat center center fixed; 
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	overflow:hidden;
		}	
#container{
	width:70%;
	height:100%;
	margin: auto;
	
	}
#upper_bar{
	width:100%;
	height:14%;
	background-color: black;
	
	}
#middle_left{
	width:50%;
	height:40%;
	background-color: red;
	float: left;
	overflow:hidden;
	
	}
#middle_right{
	width:50%;
	height:40%;
	background-color: orange;
	float:right;
	overflow:hidden;
	
	}
#bottom_left{
	width:50%;
	height:40%;
	background-color: green;
	float: left;
	overflow:hidden;
	
	}
#bottom_right{
	width:50%;
	height:40%;
	float:right;
	background-color: black;
	overflow:hidden;
	
	}
#footer{
	width:100%;
	height:6%;
	background-color: gray;
	float:left;
	overflow:hidden;
}
#formulario{
	width: 35%;
	height:50%;
	float: right;
	margin:1.4%;
}
	img {
	max-width: 100%;
	height: auto;
}